<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>edit</title>
</head>
<body>
  <h1>お問い合わせ編集</h1>
  <form th:object="${contactForm}" th:action="@{/admin/contacts/confirm}" method="post">
    <p>お問い合わせID:<input type="text" th:field="*{id}" readonly></p>
    <p>姓:<input type="text" th:field="*{lastName}"></p>
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color:red"></span>
    <p>名:<input type="text" th:field="*{firstName}"></p>
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color:red"></span>
    <p>メールアドレス:<input type="text" th:field="*{email}"></p>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"></span>
    <p>電話番号:<input type="text" th:field="*{phone}"></p>
    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color:red"></span>
    <p>郵便番号:<input type="text" th:field="*{zipCode}"></p>
    <span th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}" style="color:red"></span>
    <p>住所:<input type="text" th:field="*{address}"></p>
    <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color:red"></span>
    <p>建物名:<input type="text" th:field="*{buildingName}"></p>
    <span th:if="${#fields.hasErrors('buildingName')}" th:errors="*{buildingName}" style="color:red"></span>
    <p>お問い合わせ種別:<input type="text" th:field="*{contactType}"></p>
    <span th:if="${#fields.hasErrors('contactType')}" th:errors="*{contactType}" style="color:red"></span>
    <p>内容:<input type="text" th:field="*{body}"></p>
    <span th:if="${#fields.hasErrors('body')}" th:errors="*{body}" style="color:red"></span>
    <p>作成日時:<input type="text" th:field="*{createdAt}" readonly></p>
    <p>更新日時:<input type="text" th:field="*{updatedAt}" readonly></p>
    <input type="submit" value="確認">
  </form>
  <form th:object="${contactForm}" th:action="@{/admin/contacts/destroy}" method="post" onsubmit="return confirm('本当に削除しますか？');">
    <input type="hidden" th:field="*{id}">
  <button type="submit">削除</button>
  </form>
  <form th:action="@{/admin/signout}" method="post">
    <button type="submit">ログアウト</button>
  </form>
</body>
</html>